:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #66ff66;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #262525;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Lucida", monospace;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f9f7f8;
  background-image: url("./dummy.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

h1 {
  font-size: 48px;
}

h1.title {
  font-size: 72px;
  line-height: 72px;
}
h1.title.inline {
  display: inline;
}

h1.title.center {
  text-align: center;
}

h1.title.left {
  text-align: left;
}

h1.title.right {
  text-align: right;
}

.blur {
  filter: blur(10px);
}

.hide {
  display: none;
}

.layerPosition00 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.questionPower {
  background-color: var(--color-primary-opacity);
  color: var(--color-primary-darker);
  text-align: center;
  padding-top: 30vh;
}

.loadingBar {
  background-color: var(--color-primary-opacity);
  color: var(--color-primary-darker);
  text-align: center;
  padding-top: 50vh;
}

.powerButtonOutline {
  outline-offset: 10px;
  background-color: #f9f7f8;
}

.round {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.space {
  padding-bottom: 7.5vh;
}

.spaceTop {
  padding-top: 5vh;
}
.spaceTop2x {
  padding-top: 10vh;
}
.sectionSpace {
  padding-bottom: 20vh;
}

#myProgress {
  width: 75%;
  margin: auto;
  background-color: white;
  position: relative;
}

#myBar {
  width: 0.5%;
  height: 30px;
  background-color: var(--color-primary-darker);
}

.navigation {
  background-color: var(--color-primary-opacity);
  margin: auto;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid var(--color-primary-darker);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: var(--color-primary-darker);
}

#wrapper {
  width: 95%;
  margin: 2.5%;
  border: 1px solid black;
  overflow: hidden; /* add this to contain floated children */
}
#first {
  width: 50%;
  height: 65vh;
  float: left; /* add this */
  border: 1px solid red;
}
#second {
  width: 50%;
  margin: auto;
  border: 1px solid green;
  float: left; /* add this */
}

#flex {
  display: flex;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.shortAbout {
  margin: 4.5vh;
  font-size: 18px;
  text-align: justify;
}

.whoBtn {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
