/* ==> := section comment, which provide info about subsequent styling*/
:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #66ff66;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #262525;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

/* Settings for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-size: 22px;
  font-family: "Lucida", monospace;
  font-weight: 300;
  color: #444;
  line-height: 1.2;
  background-color: #f9f7f8;
  background-image: url("./dummy.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

/* Special styling for title h1 headers */
h1 {
  font-size: 2em;
}

/* Blur class used for js actions */
.blur {
  filter: blur(5px);
}

/* Hide class to hide elements used for js actions */
.hide {
  display: none;
}

/* Absolute class to set absolute positioning */
.absolute {
  position: absolute;
}

/* Relative class to set relative positioning */
.relative {
  position: relative;
}

/* Prequal class for overlay pages */
.design-prequal {
  background-color: var(--color-primary-opacity);
  color: var(--color-primary-darker);
  text-align: center;
  min-height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.prequal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Power button styling */
.power-button {
  outline-offset: 5px;
  background-color: #f9f7f8;
  color: red;
  font-size: 172px;
  border-radius: 15%;
}

/* Class to add constance space after sections */
.section-space {
  padding-bottom: 10vh;
}

/* ==> Progress bar styling */
#container-progress {
  display: flex;
  width: 75%;
  background-color: white;
  position: relative;
}

#progress-bar {
  width: 0%;
  height: 30px;
  background-color: var(--color-primary-darker);
}

#progress {
  position: absolute;
  width: 100%;
  margin: auto;
  color: green;
}

/* ==> Navigation bar styling */
.navigation {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  top: 0px;
  width: 100%;
  font-size: 1em;
  background-color: rgba(65, 62, 62, 0.95);
  z-index: 1;
}

.navi-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navi-item {
  padding: 1vh;
  border-right: solid #39b385;
}

/* ==> Wrapper id and children (first, second) to design center seperated section */
.about-container {
  display: flex;
  justify-content: center;
  margin: 5% 0 5% 0;
}

.about-gallery {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.about-gallery img {
  height: 700px;
  display: flex;
  padding: 20px;
}

.about-information {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-elements-button {
  display: flex;
  margin-bottom: 10%;
  justify-content: space-around;
}

.text-element {
  border: solid 5px black;
  border-radius: 25px;
  padding: 25px;
  margin: 20px;
}

/* Style feature bottons (bottons to switch text) */
.feature-button {
  background-color: lightblue;
  color: #444;
  border: #111;
  height: 10vh;
  width: 10vh;
  border-radius: 100%;
  cursor: pointer;
}

/* Styling active feature button */
.feature-button.active {
  background-color: #fd424b;
  box-shadow: 0 0px 2px darkslategray;
  transition: translateY(2px);
}

/* ==> Project section styling elements*/
.container-projects {
  display: flex;
  justify-content: space-around;
}

.container-projects button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 10%;
  font-size: 1.5em;
}

.project-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.project-element img {
  border-radius: 30%;
  padding: 25px;
}

.project-element.focus img {
  width: 100%;
  border-radius: 30%;
}
.project-element.focus h3 {
  font-size: 1.5em;
}

.container-project-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-project-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-project-information div {
  border: solid 5px black;
  border-radius: 25px;
}

/* ==> Education section styling elements (timeline)*/
/* Container of timeline */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* Actual position and style of timeline (the line) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #39b385;
  top: 0;
  bottom: 0;
  left: 50%;
}

/* container of the timeline content*/
.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* markers on timeline relative to container */
.container-timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #f9f7f8;
  border: 4px solid #ff585f;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  right: -16px;
}

.left {
  left: 0;
}

/* Arrows to the right */
.left::before {
  content: "";
  height: 0;
  position: absolute;
  top: 18px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent red;
}

.right {
  left: 50%;
}

/* Arrows to the left */
.right::before {
  content: "";
  height: 0;
  position: absolute;
  top: 18px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent red transparent transparent;
}

/* Correcting the marker for right sided content */
.right::after {
  left: -9px;
}

/* Actual content styling */
.content-timeline {
  padding: 20px 30px;
  background-color: #f9f7f8;
  position: relative;
  border-radius: 6px;
}

/* ==> Footer styling */
footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: var(--color-primary-opacity);
}

.footer-link-elements {
  display: flex;
  justify-content: left;
  width: 50%;
}

.footer-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  width: 50%;
  padding-left: 10px;
  border-left: solid 2px lightskyblue;
  font-size: 0.7em;
}

img.footer {
  padding: 5px;
  width: 10%;
  border-radius: 30%;
}

/* ==> Animations */

/* Shake animation*/
@keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}
.shake:hover {
  animation-name: shake;
  animation-duration: 0.5s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
}
.shake {
  display: inline-block;
}

/*Three point drop*/
/* Shake animation*/
@keyframes three-point-drop {
  30% {
    -webkit-transform: translate(0px, 10vh) rotate(20deg) translate(0px, 20vh);
  }
  60% {
    -webkit-transform: translate(-180px, 20vh) rotate(-20deg)
      translate(0px, 70vh);
  }
  90% {
    -webkit-transform: translate(0px, 90vh) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(0px, 120vh) rotate(0deg);
  }
}

.drop {
  animation-name: three-point-drop;
  animation-duration: 5s;
  transform-origin: 50% 50%;
  animation-iteration-count: 1;
}

@keyframes left-right-slide-in {
  0% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(25%);
  }
  60% {
    transform: translateX(-12.5%);
  }
  100% {
    transform: translateX(0%);
  }
}

.lr-slide {
  animation-name: left-right-slide-in;
  animation-duration: 5s;
  transform-origin: -50% 50%;
  animation-iteration-count: 1;
}
